<aside class="block__moreinfo">
  <div class="moreinfo">

    <div class="moreinfo__promo">
      <div class="promo">
          <h2 class="promo__title">
            {{infoBox.saleInfoTitle}}
          </h2>

          <div class="promo__copy">
            {{infoBox.saleInfoText}}

            <span class="promo__hanging">
              {{infoBox.saleInfoHanging}}
            </span>
          </div>
      </div>
    </div>

    <div class="moreinfo__tour">
      <div class="tour">
        <img src="" alt="" class="tour__video">
      </div>
    </div>
    <div class="moreinfo__contact">
      {% include 'partials/_contact.html' %}
    </div>
  </div>
</aside>
