<header>
  <div class="header__block">
    <div class="header__logo-box">
      <a href="{{siteUrl}}"><div class="header__logo" role="site logo"></div></a>
    </div>
    <div class="header__nav-box">
      <input id="header__toggle" type="checkbox"></input>
      <label for="header__toggle" role="menu-toggle">
        <i class="fa fa-bars fa-2x"></i>
      </label>
      <nav class="nav__box" role="menu">
          <ul class="nav__menu">
             {% nav each in theMenus.mainMenu %}
                <li class="nav__list">
                  {{ each.getLink() }}
                </li>
              {% endnav %}
              <li class="nav__list">
                <a href="#contact-box">
                  Contact
                </a>
              </li>
          </ul>
      </nav>
    </div>
    <div class="header__social" role="social media">
      {% include 'partials/_social.html' %}
    </div>
  </div>
</header>