<div class="traffic-light"></div>
<header>
  <div class="header__block">
    <div class="header__logo-box">
      <div class="header__logo" role="site logo"></div>
    </div>
    <div role="header__nav">
      <input id="header__toggle" type="checkbox"></input>
      <label for="header__toggle" role="menu-toggle">
        <i class="fa fa-bars fa-2x"></i>
      </label>
      <nav role="menu">
        <ul class="nav__menu">
          <li class="nav__list">Frames</li>
          <li class="nav__list">Lenses</li>
          <li class="nav__list">About</li>
          <li class="nav__list">Contact</li>
        </ul>
      </nav>
    </div>
    <div class="header__social" role="social media">
      <ul>
        <li class="header__social-item"><i class="fa"></i></li>
        <li class="header__social-item"><i class="fa"></i></li>
        <li class="header__social-item"><i class="fa"></i></li>
        <li class="header__social-item"><i class="fa"></i></li>
      </ul>
    </div>
  </div>
</header>