<div class="traffic-light"></div>
<header>
  <div class="header__block">
    <div class="header__logo-box">
      <div class="header__logo" role="site logo"></div>
    </div>
  </div>
  <div role="header__nav">
    <input id="header__toggle" type="checkbox"></input>
    <label for="header__toggle" role="menu-toggle">
      <i class="fa fa-bars fa-3x"></i>
    </label>
    <ul role="menu">
      <li>Frames</li>
      <li>Lenses</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="header__social" role="social media">
    <ul>
      <li class="header__social-item"><i class="fa"></i></li>
      <li class="header__social-item"><i class="fa"></i></li>
      <li class="header__social-item"><i class="fa"></i></li>
      <li class="header__social-item"><i class="fa"></i></li>
    </ul>
  </div>
</header>