<ul class="block__social">
  <li class="social__item fa-stack fa-lg">
    <i class="fa fa-stack-2x fa-stop is__text--c-facebook"></i>
    <i class="fa fa-stack-1x fa-facebook is__text--c-white"></i>
  </li>
  <li class="social__item fa-stack fa-lg">
    <i class="fa fa-stack-2x fa-stop is__text--c-twitter"></i>
    <i class="fa fa-stack-1x fa-twitter is__text--c-white"></i>
  </li>
  <li class="social__item fa-stack fa-lg">
    <i class="fa fa-stack-2x fa-stop is__text--c-pinterest"></i>
    <i class="fa fa-stack-1x fa-pinterest is__text--c-white"></i>
  </li>
  <li class="social__item fa-stack fa-lg">
    <i class="fa fa-stack-2x fa-stop is__text--c-instagram"></i>
    <i class="fa fa-stack-1x fa-instagram is__text--c-white"></i>
  </li>
</ul>