
{% extends "_layout--home" %}

{% block content %}

<section class="block__home">
  <div class="home__box">
    <div class="home__body-box">
      <article class="home__body">
      	<h2 class="body__title">
          {{ entry.bodyHeadingCopy }}
        </h2>

      	<div class="body__copy">
          {{ entry.bodyCopy }}
        </div>
      <article>
    </div>
      {% for panel in entry.homePanels %}
        <aside class="home__aside {{panel.backgroundColor}}">
          {% if panel.imageOnTop %}
            <img class="aside__image" src="{{ panel.image[0].url }}" alt="">
            <h2 class="aside__heading">{{ panel.heading }}</h2>
          {% else %}
            <h2 class="aside__heading">{{ panel.heading }}</h2>
            <img class="aside__image" src="{{ panel.image[0].url }}" alt="">
          {% endif %}
          <p class="aside__caption">{{panel.caption}}</p>
          <a class="aside__button" href="{{panel.buttonUrl[0].url}}">
              {{panel.button}}
          </a>
        </aside>
      {% endfor %}
  </div>
</section>
	<!--<ul>
		{% for entry in craft.entries.section('frames').limit(2).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul>-->

  {% include 'partials/_aside' %}

{% endblock %}
