
{% extends "_layout--main" %}

{% block content %}

<section class="block__main">
  <div class="main__box">
    <article class="main__article">
    	<h2 class="article__heading">
        {{ entry.bodyHeadingCopy }}
      </h2>

    	<div class="article__copy">
        {{ entry.bodyCopy }}
      </div>
    </article>
    <aside class="main__storeline">
      <div class="storeline__panel">
        <h2>
          Interested in the top Eyewear lines? Check out our brands exclusive to our store in Baton Rouge!
        </h2>
      </div>
      <div class="storeline__collection">
      <ul class="storeline__list">
        <li class="list__item">
          <span class="list__heading">
            Barton Perreira Eyewear
          </span>
          Pure luxury, style and elegance handcrafted to perfection.
        </li>
      </ul>
      <ul class="storeline__list">
        <li class="list__item">
          <span class="list__heading">
            Barton Perreira Eyewear
          </span>
          Pure luxury, style and elegance handcrafted to perfection.
        </li>
      </ul>
      </div>
    </aside>
  </div>
</section>
	<!--<ul>
		{% for entry in craft.entries.section('frames').limit(2).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul>-->

  {% include 'partials/_aside' %}

{% endblock %}
